<div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline" ng-submit="vm.load()">
                <input ng-model="vm.filterValue" class="form-control mr-sm-2" type="search" placeholder="Buscar pelo nome do cliente" aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            <a class="btn btn-outline-info" ui-sref="processo.new">Novo registro</a>
        </nav>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Status</th>
                    <th scope="col">Honorários</th>
                    <th scope="col">Assunto</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rec in vm.records">
                    <th scope="row">{{rec.cliente.pessoa.nome}}</th>
                    <td>{{rec.status}}</td>
                    <td>{{rec.honorario | currency}}</td>
                    <td>{{rec.assunto}}</td>
                    <td style="text-align: right">
                        <a class="btn btn-sm btn-success" ui-sref="processo.edit({id: rec.id})">Editar</a>
                        <button ng-click="vm.excluir(rec.id)" class="btn btn-sm btn-danger" type="button">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    