<div class="container-fluid">
        <div class="row justify-content-sm-center">
            <div class="col-sm-8">
                <h2 class="title">{{vm.title}}</h2>
                <form>
                    <div class="form-group">
                        <label>Pessoa</label>
                        <select class="form-control" ng-model="vm.record.pessoa">
                            <option ng-value="vm.record.pessoa">{{vm.record.pessoa.id}} - {{vm.record.pessoa.nome}}</option>
                            <option ng-repeat="pessoa in vm.pessoas" ng-value="pessoa">{{pessoa.id}} - {{pessoa.nome}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Observação</label>
                        <textarea row="3" ng-model="vm.record.observacao" class="form-control"></textarea>
                    </div>
                    <button ng-click="vm.save()" type="button" class="btn btn-primary">Salvar Registro</button>
                    <a ui-sref="cliente.list" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    